header
    .container 
        include nav
    canvas#canvas(height="900" width="1500")
    .__btn-group 
        a(href='#').__btn.__btn-orange Start Now
        a(href='#').__btn.__btn-orange-outline See More