$ff__awesome   : 'fontawesome';
$ff__main      : Poppins;
$ff__main-b    : PoppinsBold;
$ff__open_sans : OpenSans;
$ff__lato      : LatoRegular;

$color-active    : #FD8558;
$color-brand     : #a10e70;
$color-text      : #333333;
$color-text-b    :#222222;
$color-text-l    :#999999;
$color-lite      :#CACACA;
$color-lite-extra:#F7F7F7;
$color-green     :#70B446;
$color-blue      :#3A0F73;

$rate : 100%;
$px   : 10px;